.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.3;
}
