.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000000;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;
}

.header__logo {
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  margin: auto;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  font-style: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.header__link:hover {
  opacity: 0.3;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  animation: rotation 20s linear infinite;
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  width: 60%;
}

.section-subtitle {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.cards {
  width: 920px;
  display: flex;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
  box-sizing: border-box;
  text-align: center;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 60px;
  margin-bottom: 43px;
  margin-left: 40px;
  margin-right: 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
}

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-left: 20px;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
  display: flex;
  justify-content: center;
}

.feynman {
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  margin-top: 100px;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 0px;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.feynman__link:hover {
  opacity: 0.3;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.khan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.khan__quote {
  width: 790px;
  margin-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin-top: 36px;
  margin-bottom: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
  align-items: flex-start;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 20px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.khan__buy-link:hover {
  opacity: 0.3;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.section-title_theme_dark {
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: white;
  z-index: 2;
}

.table__text_theme_dark {
  color: white;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

.resourses {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resourses__logo-zone {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.resourses__logo {
  width: 270px;
  height: 38px;
}

.footer {
  display: flex;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.3;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
