.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color:#f2f2f2;
  box-sizing: border-box;

}

.header__logo {
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}

.header__title {
max-width: 730px;
margin: auto;
margin-left: 64px;
font-size: 102px;
line-height:96px;
font-weight: bold;
z-index: 2;


}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  line-height:25px;
  z-index: 2;
  font-style: normal;

}

.header__link {
color: #2f80ed;
text-decoration: none;
}

.header__main-illustration {
  position: absolute;
    right:0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;

}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right:0;
  top:64px;
  z-index: 0;
}


.description {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns
{
     display: flex;
     justify-content: space-between;
     width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color:  #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
    margin-top: 0px;
    margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques
{
  padding: 100px 0 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.section-title
{
   line-height: 1.15;
   font-size: 60px;
   font-weight: bold;
   text-align: center;
   margin-top: 0;
   margin-bottom: 20px;
   width: 60%;
}

.section-subtitle
{
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  width: 60%;
}

.cards
{
  display: flex;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.cards__item
{
  width: 240px;
  margin-right: 100px;
  box-sizing: border-box;
  text-align: center;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image
{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top:60px;
  margin-bottom: 43px;
  margin-left: 40px;
  margin-right: 40px;
}

.cards__title
{
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;

}

.cards__description
{
  line-height: 23px;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;

}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
